body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.wallhere.com%2Fphoto%2Ftrees-landscape-forest-sea-water-nature-sky-shadow-clouds-airplane-Earth-Tourism-coast-photo-manipulation-world-atmosphere-aerial-view-island-coral-reef-fisheye-lens-tree-ocean-archipelago-islet-1920x1080-px-computer-wallpaper-aerial-photography-atoll-inlet-water-resources-coastal-and-oceanic-landforms-826450.jpg&f=1&nofb=1");
}

/* Override bootstrap's background-color for navbar */
nav {
    background-color: skyblue;
}

/* Override's bootstrap/s form height for city-search in navbar */
form {
    height: 40px;
}

.city-info {
    background-color: rgb(135, 206, 235, .8);
    width: 60%;
    height: 200px;
    margin-top: 50px;
    margin-right: 50px;
}
